<br>
<h1></h1>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Datos del vehiculo</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="text-center card container col-md-3">
            <div class="mt-5 mb-5">
                <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
                    height="57">
                <h1 class="h3 mb-3 fw-normal">Log In</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Usuario" [(ngModel)]="user" autocomplete="off">
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating mt-1">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" autocomplete="off">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" (click)="userLogin()" >Sign in</button>
                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">or</div>
                    <div class="line-separator"></div>
                </div>
                <div class="row">
                    <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="login()">
                        <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Sing in Google
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Entrar</button>
    </div>
</ng-template>
