<!-- <div class="container" style="margin-top: 60px">

    <form #routesForm="ngForm" (ngSubmit)="onSubmit(routesForm)">
  
      <input type="hidden" name="model_id" #model_id="ngModel" [(ngModel)]="routes_service.selected_route.route_id">
  
      <div class="row">
        <div class="col-3">
          <label for="route_name">Ruta</label>
        </div>
  
        <div class="col-9">
          <div class="form-group">
            <input id="route_name" type="text" class="form-control my-controll" name="route_name"
            #route_name="ngModel" [(ngModel)]="routes_service.selected_route.route_name" placeholder="Ruta" autocomplete="off" />
          </div>
        </div>  
      </div>   
     
    
  
      
    </form>


    </div> -->

    <app-routes-list (onAddClick)="open(content)" (onUpdateClick)="open(content,$event)" (onRemoveClick)="onDelete($event)"></app-routes-list>


    <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <div class="container" style="margin-top: 60px">
              <app-route-form></app-route-form>
      </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
  </ng-template> 
