<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <!-- <span *ngIf="isExpanded" class="chevron"></span> -->
        <img *ngIf="isExpanded" class="image" alt="bimtrazer-logo" src="assets/icons/icons8-close-20.png"/>
        <img *ngIf="!isExpanded" class="image" alt="bimtrazer-logo" src="assets/icons/icons8-menu-40.png"/>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
          <div class="icon">
            <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-home-26.png"/>
          </div>
          <div class="title">Home</div>
        </div>
      </div>
      <div *ngIf="user_service.userType == 1" class="link with-children">
        <div class="content" [routerLink]="['/configuration']" [routerLinkActive]="'active'">
          <div class="icon">
            <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-catalog-26.png"/>
          </div>
          <div class="title">Catalogos</div>
        </div>
        <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/app-cat-models']" [queryParams]="{ 'child': '3' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-model-26.png"/>
              </div>
              <div class="title">Modelos</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/app-cat-vehicles']" [queryParams]="{ 'child': '2' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-vehicle-26.png"/>
              </div>
              <div class="title">Vehiculos</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/app-cat-employees']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-employee-26.png"/>
              </div>
              <div class="title">Empleados</div>
            </div>
          </div>
         
          
        </div>
      </div>
      <div  *ngIf="user_service.userType == 1" class="link with-children">
        <div class="content" >
          <div class="icon">
            <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-path-26.png"/>
          </div>
          <div class="title">Rutas</div>
        </div>

        <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/app-stations']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-place-26.png"/>
              </div>
              <div class="title">Estaciones</div>
            </div>
          </div>
    
      </div>


        <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/app-routes-list']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-route-26.png"/>
              </div>
              <div class="title">Rutas</div>
            </div>
          </div>
    
      </div>
    </div>
    <div class="link with-children">
      <div class="content" >
        <div class="icon">
          <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-tour-26.png"/>
        </div>
        <div class="title">Recorrido</div>
      </div>

      <div class="children">
        <div class="link">
          <div class="content" [routerLink]="['/tour']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="icon">
              <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-start-route-26.png"/>
            </div>
            <div class="title">Reccorrido</div>
          </div>
        </div>
    </div>
  </div>

  <div class="link with-children">
    <div class="content" >
      <div class="icon">
        <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-reports-26.png"/>
      </div>
      <div class="title">Reportes</div>
    </div>

    <div class="children">
      <div class="link">
        <div class="content" [routerLink]="['/app-global-emissions']" [queryParams]="{ 'child': '1' }"
          [routerLinkActive]="'active'">
          <div class="icon">
            <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-co2-26.png"/>
          </div>
          <div class="title">Emisiones globales</div>
        </div>
      </div>
    

  </div>
  <div class="children">
    <div class="link">
      <div class="content" [routerLink]="['/app-real-emissions']" [queryParams]="{ 'child': '1' }"
        [routerLinkActive]="'active'">
        <div class="icon">
          <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-co2-emissions-26.png"/>
        </div>
        <div class="title">Emisiones Reales</div>
      </div>
    </div>
</div>

<div class="children">
  <div class="link">
    <div class="content" [routerLink]="['/app-real-fuel']" [queryParams]="{ 'child': '1' }"
      [routerLinkActive]="'active'">
      <div class="icon">
        <img  class="image" alt="bimtrazer-logo" src="assets/icons/icons8-fuel-26.png"/>
      </div>
      <div class="title">Combustible</div>
    </div>
  </div>
</div>
  <div class="footer"></div>
</div>
