
<div class="container" style="margin-top: 60px">
<form>
	<div class="mb-3 row">
		<label for="filter_search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
		<div class="col-xs-3 col-sm-auto">
			<input id="filter_search" class="form-control" type="text" name="filter_search"
            #filter_search="ngModel" [(ngModel)]="search" />
			
		</div>
		<div class="col-2">
			<button class="btn btn-primary" (click)="filterTable()">
				<i class="fas fa-search"></i>
			</button>
		  </div>
		<div class="col-2">
			<button class="btn btn-primary" (click)="emitAdd()">
			  <i class="fas fa-plus-circle"></i>Nuevo
		  </button>
		  </div>
	</div>
	
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col"> Apellido Paterno </th>
			<th scope="col">Apellido Materno</th>
		</tr>
	</thead>
	<tbody>
			<tr *ngFor="let employee of employee_service.employee_list_page">
				<th scope="row">{{ employee.employee_number }}</th>

				<td><ngb-highlight [result]="employee.name" [term]="filter.value" /></td>
				<td><ngb-highlight [result]="employee.last_name" [term]="filter.value" /></td>
                <td><ngb-highlight [result]="employee.mother_lastname " [term]="filter.value" /></td>
				<td>
					<a class="btn btn-secondary text-white" (click)="emitUpdate(employee)">
						<i class="far fa-edit"></i>
					</a>
					<a class="btn btn-danger text-white" (click)="emitRemove(employee)">
						<i class="fas fa-trash-alt"></i>
					</a>
					<a class="btn btn-danger text-white" (click)="emitUser(employee)">
						<i class="fa fa-user"></i>
					</a>
				  </td>
				 
			</tr>
			<tr>
				<td colspan="5" style="text-align: center">Lista de Empleados</td>
			</tr>
			 
	</tbody>
</table>
<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="employee_service.employee_list.length"
		[(page)]="page"
		[pageSize]="10"
		(pageChange)="refreshEmployees()"
	>
	</ngb-pagination>
</div>
<!-- <div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="totalItems"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshEmployees()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">10 items per page</option>
	</select>
</div> -->
</div>



